*.nml
!test/nmls/*nml
!examples/*.nml
PAMTRA/examples/*.txt
PAMTRA/fort*
!python/pyPamtra/fort*
PAMTRA/output/
!output/.empty
PAMTRA/profiles/
PAMTRA/profile/*
!profile/example_input*
PAMTRA/data
PAMTRA/playground/
*~
.nfs*
run_LMRT*
*.prefs
PAMTRA/Debug
PAMTRA/test/tmp/*
!test/tmp/.gitignore
*.kate-swp
*.auto.f90
PAMTRA/check_moments
*.pyc
*.so
*.so.dSYM
*.tmp
*.png
*.nc
PAMTRA/snowCRYSTALuli
PAMTRA/cl340d14.dda
PAMTRA/runtestc
PAMTRA/testc.lay
PAMTRA/testc.out
PAMTRA/testc.out.check
PAMTRA/src/scatcnv
PAMTRA/tools/pp_scripts/nodesConfig.sh
*.sqlite
PAMTRA/gmon.out
PAMTRA/check_moments
PAMTRA/database
PAMTRA/mm_notes.txt
PAMTRA/scripts/
PAMTRA/tools/lapack-3.5.0
PAMTRA/build
PAMTRA/lib
PAMTRA/doc/build
*.pyf
PAMTRA/src/recycle/
PAMTRA/descriptorfiles/*
PAMTRA/nml/
PAMTRA/.python-version
PAMTRA/.DS_Store
PAMTRA/doc/tutorials/
PAMTRA/tools/virtual_machine*/.vagrant
PAMTRA/examples/scatfiles/*
PAMTRA/examples/.ipynb_checkpoints/
PAMTRA/examples/data/
.idea
**.o
**.a
**.mod
**.nc
**.csv
**.png
driver/run/cosp2_test
driver/data/inputs/UKMO/*_global.nc
driver/data/outputs/UKMO/*kgo.v*.nc
driver/data/outputs/UKMO/*.nc
driver/data/outputs/UKMO/*.png
output/*
